.st0 {
    fill: #575F32;
}

.st1 {
    fill: #5B6333;
}

.st2 {
    fill: #787881;
}

.st3 {
    fill: #7B7B85;
}

.st4 {
    fill: #596133;
}

.st5 {
    fill: #626B37;
}

.st6 {
    fill: #596132;
}

.st7 {
    fill: #545C30;
}

.st8 {
    fill: #4C532A;
}

.st9 {
    fill: #586033;
}

.st10 {
    fill: #5F6538;
}

.st11 {
    fill: #555D32;
}

.st12 {
    fill: #81828E;
}

.st13 {
    fill: #828591;
}

.st14 {
    fill: #51582E;
}

.st15 {
    fill: #2B341D;
}

.st16 {
    fill: #4C542B;
}

.st17 {
    fill: #52582F;
}

.st18 {
    fill: #293520;
}

.st19 {
    fill: #485227;
}

.st20 {
    fill: #28331E;
}

.st21 {
    fill: #565D32;
}

.st22 {
    fill: #D2C9BF;
}

.st23 {
    fill: #565F33;
}

.st24 {
    fill: #5A6140;
}

.st25 {
    fill: #424C26;
}

.st26 {
    fill: #49542A;
}

.st27 {
    fill: #232527;
}

.st28 {
    fill: #3D4722;
}

.st29 {
    fill: #28321D;
}

.st30 {
    fill: #2F391D;
}

.st31 {
    fill: #252E1A;
}

.st32 {
    fill: #2A331C;
}

.st33 {
    fill: #2D3922;
}

.st34 {
    fill: #272B2C;
}

.st35 {
    fill: #4A552A;
}

.st36 {
    fill: #232D18;
}

.st37 {
    fill: #212A15;
}

.st38 {
    fill: #222B16;
}

.st39 {
    fill: #3D4623;
}

.st40 {
    fill: #2B351E;
}

.st41 {
    fill: #343E1F;
}

.st42 {
    fill: #8D8E97;
}

.st43 {
    fill: #434D27;
}

.st44 {
    fill: #2D3820;
}

.st45 {
    fill: #313A1D;
}

.st46 {
    fill: #525730;
}

.st47 {
    fill: #3F4927;
}

.st48 {
    fill: #535B30;
}

.st49 {
    fill: #465127;
}

.st50 {
    fill: #2E3824;
}

.st51 {
    fill: #323C1F;
}

.st52 {
    fill: #3F4925;
}

.st53 {
    fill: #898990;
}

.st54 {
    fill: #485229;
}

.st55 {
    fill: #404A24;
}

.st56 {
    fill: #3A4422;
}

.st57 {
    fill: #27311A;
}

.st58 {
    fill: #2D371C;
}

.st59 {
    fill: #50572C;
}

.st60 {
    fill: #323B1B;
}

.st61 {
    fill: #242A1B;
}

.st62 {
    fill: #2E381F;
}

.st63 {
    fill: #28311A;
}

.st64 {
    fill: #394222;
}

.st65 {
    fill: #1D2715;
}

.st66 {
    fill: #576037;
}

.st67 {
    fill: #CAC4C4;
}

.st68 {
    fill: #37401F;
}

.st69 {
    fill: #8E8F97;
}

.st70 {
    fill: #2C3317;
}

.st71 {
    fill: #1E2611;
}

.st72 {
    fill: #303B22;
}

.st73 {
    fill: #38421E;
}

.st74 {
    fill: #16200F;
}

.st75 {
    fill: #4B572B;
}

.st76 {
    fill: #424B25;
}

.st77 {
    fill: #4D502E;
}

.st78 {
    fill: #5E653F;
}

.st79 {
    fill: #242C12;
}

.st80 {
    fill: #68686E;
}

.st81 {
    fill: #262F17;
}

.st82 {
    fill: #4D5736;
}

.st83 {
    fill: #3E4725;
}

.st84 {
    fill: #535A38;
}

.st85 {
    fill: #465129;
}

.st86 {
    fill: #535A2E;
}

.st87 {
    fill: #2C3621;
}

.st88 {
    fill: #2C361F;
}

.st89 {
    fill: #272E1C;
}

.st90 {
    fill: #353E21;
}

.st91 {
    fill: #1E2814;
}

.st92 {
    fill: #C3BAB7;
}

.st93 {
    fill: #4B4C38;
}

.st94 {
    fill: #656F4E;
}

.st95 {
    fill: #202426;
}

.st96 {
    fill: #374021;
}

.st97 {
    fill: #79797F;
}

.st98 {
    fill: #8D8C94;
}

.st99 {
    fill: #888890;
}

.st100 {
    fill: #6F6D71;
}

.st101 {
    fill: #5E6474;
}

.st102 {
    fill: #727177;
}

.st103 {
    fill: #848486;
}

.st104 {
    fill: #7A7B84;
}

.st105 {
    fill: #5A5E59;
}

.st106 {
    fill: #4F554E;
}

.st107 {
    fill: #595D6B;
}

.st108 {
    fill: #495143;
}

.st109 {
    fill: #313E34;
}

.st110 {
    fill: #65675A;
}

.st111 {
    fill: #7E7E89;
}

.st112 {
    fill: #51572E;
}

.st113 {
    fill: #7D9DAE;
}

.st114 {
    fill: #5C6236;
}

.st115 {
    fill: #7593A0;
}

.st116 {
    fill: #474E31;
}

.st117 {
    fill: #25292D;
}

.st118 {
    fill: #454F29;
}

.st119 {
    fill: #27311F;
}

.st120 {
    fill: #1C2513;
}

.st121 {
    fill: #1B2412;
}

.st122 {
    fill: #565D30;
}

.st123 {
    fill: #182314;
}

.st124 {
    fill: #424D29;
}

.st125 {
    fill: #353C27;
}

.st126 {
    fill: #3B442A;
}

.st127 {
    fill: #7E8089;
}

.st128 {
    fill: #7F8A60;
}

.st129 {
    fill: #5E6679;
}

.st130 {
    fill: #545E46;
}

.st131 {
    fill: #555054;
}

.st132 {
    fill: #4D5362;
}

.st133 {
    fill: #80818D;
}

.st134 {
    fill: #5E5C66;
}

.st135 {
    fill: #7F818C;
}

.st136 {
    fill: #7C7D87;
}

.st137 {
    fill: #727379;
}

.st138 {
    fill: #414A30;
}

.st139 {
    fill: #7B7D80;
}

.st140 {
    fill: #6C7453;
}

.st141 {
    fill: #D7D0D4;
}

.st142 {
    fill: #948981;
}

.st143 {
    fill: #2B3121;
}

.st144 {
    fill: #666967;
}

.st145 {
    fill: #879266;
}

.st146 {
    fill: #9C928C;
}

.st147 {
    fill: #584E4A;
}

.st148 {
    fill: #867C77;
}

.st149 {
    fill: #42493C;
}

.st150 {
    fill: #CDC5C3;
}

.st151 {
    fill: #636878;
}

.st152 {
    fill: #DCD6D7;
}

.st153 {
    fill: #AAA7AE;
}

.st154 {
    fill: #76757E;
}

.st155 {
    fill: #77777F;
}

.st156 {
    fill: #747E56;
}

.st157 {
    fill: #676D7A;
}

.st158 {
    fill: #C9C0BE;
}

.st159 {
    fill: #525931;
}

.st160 {
    fill: #C0B7B4;
}

.st161 {
    fill: #ACA29C;
}

.st162 {
    fill: #181C15;
}

.st163 {
    fill: #6F794F;
}

.st164 {
    fill: #B8B2B7;
}

.st165 {
    fill: #788259;
}

.st166 {
    fill: #7998A8;
}

.st167 {
    fill: #4C5466;
}

.st168 {
    fill: #7B97A5;
}

.st169 {
    fill: #687581;
}

.st170 {
    fill: #505768;
}

.st171 {
    fill: #373D4B;
}

.st172 {
    fill: #484B57;
}

.st173 {
    fill: #41485A;
}

.st174 {
    fill: #525A6D;
}

.st175 {
    fill: #21251B;
}

.st176 {
    fill: #717C54;
}

.st177 {
    fill: #040503;
}

.st178 {
    fill: #1D271C;
}

.st179 {
    fill: #222E20;
}

.st180 {
    fill: #828183;
}

.st181 {
    fill: #060803;
}

.st182 {
    fill: #0E1107;
}

.st183 {
    fill: #0A0D05;
}

.st184 {
    fill: #2F3520;
}

.st185 {
    fill: #6A7A87;
}

.st186 {
    fill: #506A85;
}

.st187 {
    fill: #565762;
}

.st188 {
    fill: #728898;
}

.st189 {
    fill: #34423B;
}

.st190 {
    fill: #2D392F;
}

.st191 {
    fill: #3B4252;
}

.st192 {
    fill: #C1C2C3;
}

.st193 {
    fill: #ADA9B0;
}

.st194 {
    fill: #7A9AAA;
}

.st195 {
    fill: #0D1007;
}

.st196 {
    fill: #191B1E;
}

.st197 {
    fill: #1E1D18;
}

.st198 {
    fill: #A5A2AB;
}

.st199 {
    fill: #6D6D74;
}

.st200 {
    fill: #322B29;
}

.st201 {
    fill: #212619;
}

.st202 {
    fill: #5A6037;
}

.st203 {
    fill: #272D1C;
}

.st204 {
    fill: #3E4556;
}

.st205 {
    fill: #445E7A;
}

.st206 {
    fill: #7794A1;
}

.st207 {
    fill: #121314;
}

.st208 {
    fill: #535934;
}

.st209 {
    fill: #D2CAC9;
}

.st210 {
    fill: #494D5B;
}

.st211 {
    fill: #A7A3A7;
}

.st212 {
    fill: #76828C;
}

.st213 {
    fill: #756F6B;
}

.st214 {
    fill: #A8A5AD;
}

.st215 {
    fill: #4B627C;
}

.st216 {
    fill: #828184;
}

.st217 {
    fill: #AAA5A8;
}

.st218 {
    fill: #B2AEB3;
}

.st219 {
    fill: #7F8186;
}

.st220 {
    fill: #F3F2F0;
}

.st221 {
    fill: #434651;
}

.st222 {
    fill: #453F3E;
}

.st223 {
    fill: #AAA6AD;
}

.st224 {
    fill: #37353B;
}

.st225 {
    fill: #6D6563;
}

.st226 {
    fill: #4A4546;
}

.st227 {
    fill: #4B4F5D;
}

.st228 {
    fill: #D5CDC4;
}

.st229 {
    fill: #15181A;
}

.st230 {
    fill: #3B373C;
}

.st231 {
    fill: #2B2A30;
}

.st232 {
    fill: #4F5464;
}

.st233 {
    fill: #ABA8AF;
}

.st234 {
    fill: #5C5B65;
}

.st235 {
    fill: #2D2D33;
}

.st236 {
    fill: #A19B9B;
}

.st237 {
    fill: #A3A0A7;
}

.st238 {
    fill: #4B505F;
}

.st239 {
    fill: #4F4641;
}

.st240 {
    fill: #23211B;
}

.st241 {
    fill: #2E2726;
}

.st242 {
    fill: #3F4046;
}

.st243 {
    fill: #A49C95;
}

.st244 {
    fill: #36302F;
}

.st245 {
    fill: #3B3431;
}

.st246 {
    fill: #4F494C;
}

.st247 {
    fill: #413936;
}

.st248 {
    fill: #42424A;
}

.st249 {
    fill: #B0ACB1;
}

.st250 {
    fill: #B9BABB;
}

.st251 {
    fill: #4F647D;
}

.st252 {
    fill: #505568;
}


#villa:hover {
    filter: grayscale(100%) sepia(100%);
  }

  .cls-1 {
    isolation: isolate;
  }